@theme inline {
  /** Base Tokens **/
  /* Contents */
  --color-cnt-primary: var(--cnt-primary);
  --color-cnt-secondary: var(--cnt-secondary);
  --color-cnt-tertiary: var(--cnt-tertiary);
  --color-cnt-on-bold: var(--cnt-on-inverse);

  --color-cnt-accent: var(--cnt-accent);
  --color-cnt-info: var(--cnt-info);
  --color-cnt-success: var(--cnt-success);
  --color-cnt-warning: var(--cnt-warning);
  --color-cnt-danger: var(--cnt-danger);

  /* Backgrounds */
  --color-main: var(--ds-panel-solid);
  --color-soft: var(--ds-surface);

  --color-accent-soft: var(--bg-accent-soft);
  --color-info-soft: var(--bg-info-soft);
  --color-success-soft: var(--bg-success-soft);
  --color-warning-soft: var(--bg-warning-soft);
  --color-danger-soft: var(--bg-danger-soft);

  --color-accent-bold: var(--bg-accent-bold);
  --color-info-bold: var(--bg-info-bold);
  --color-success-bold: var(--bg-success-bold);
  --color-warning-bold: var(--bg-warning-bold);
  --color-danger-bold: var(--bg-danger-bold);

  /* Borders */
  --color-brd-line: var(--brd-line);
  --color-brd-control: var(--brd-control);
  --color-brd-ring: var(--brd-ring);

  --color-brd-accent: var(--brd-accent);
  --color-brd-info: var(--brd-info);
  --color-brd-success: var(--brd-success);
  --color-brd-warning: var(--brd-warning);
  --color-brd-danger: var(--brd-danger);

  /* Page Backgrounds */
  --color-page: var(--ds-background);
  --color-page-alternative: var(--bg-page-alternative);

  /* -———————————————————————————————————————————- */
  /** State Tokens **/
  /* Contents */
  --color-cnt-accent-hover: var(--cnt-accent-hover);
  --color-cnt-accent-pressed: var(--cnt-accent-pressed);
  --color-cnt-info-hover: var(--cnt-info-hover);
  --color-cnt-info-pressed: var(--cnt-info-pressed);
  --color-cnt-success-hover: var(--cnt-success-hover);
  --color-cnt-success-pressed: var(--cnt-success-pressed);
  --color-cnt-warning-hover: var(--cnt-warning-hover);
  --color-cnt-warning-pressed: var(--cnt-warning-pressed);
  --color-cnt-danger-hover: var(--cnt-danger-hover);
  --color-cnt-danger-pressed: var(--cnt-danger-pressed);

  /* Backgrounds */
  --color-main-hover: var(--bg-main-hover);
  --color-main-pressed: var(--bg-main-pressed);
  --color-alternative-hover: var(--bg-alternative-hover);
  --color-alternative-pressed: var(--bg-alternative-pressed);

  --color-accent-soft-hover: var(--bg-accent-soft-hover);
  --color-accent-soft-pressed: var(--bg-accent-soft-pressed);
  --color-info-soft-hover: var(--bg-info-soft-hover);
  --color-info-soft-pressed: var(--bg-info-soft-pressed);
  --color-success-soft-hover: var(--bg-success-soft-pressed);
  --color-success-soft-pressed: var(--bg-success-soft-pressed);
  --color-warning-soft-hover: var(--bg-warning-soft-hover);
  --color-warning-soft-pressed: var(--bg-warning-soft-pressed);
  --color-danger-soft-hover: var(--bg-danger-soft-hover);
  --color-danger-soft-pressed: var(--bg-danger-soft-pressed);

  --color-accent-bold-hover: var(--bg-accent-bold-hover);
  --color-accent-bold-pressed: var(--bg-accent-bold-pressed);
  --color-info-bold-hover: var(--bg-info-bold-hover);
  --color-info-bold-pressed: var(--bg-info-bold-hover);
  --color-success-bold-hover: var(--bg-success-bold-hover);
  --color-success-bold-pressed: var(--bg-success-bold-hover);
  --color-warning-bold-hover: var(--bg-warning-bold-hover);
  --color-warning-bold-pressed: var(--bg-warning-bold-hover);
  --color-danger-bold-hover: var(--bg-danger-bold-hover);
  --color-danger-bold-pressed: var(--bg-danger-bold-hover);
}
