/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*           Semantic colors           */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

/* Light theme */
:where(.creightit) {
  /*--ds-background: white;*/
  --ds-background: var(--gray-2);
  --ds-overlay: var(--black-a6);
  --ds-panel-solid: white;
  --ds-panel-translucent: rgba(255, 255, 255, 0.7);
  --ds-surface: rgba(255, 255, 255, 0.85);

  /** Base Tokens **/
  /* Contents */
  --cnt-primary: var(--gray-12);
  --cnt-secondary: #5d5e60;
  --cnt-tertiary: #a2a5a9;
  --cnt-on-inverse: var(--white-a12);

  --cnt-accent: var(--accent-11);
  --cnt-accent-bold: var(--accent-9);

  --cnt-info: var(--info-11);
  --cnt-info-bold: var(--info-9);

  --cnt-success: var(--success-11);
  --cnt-success-bold: var(--success-9);

  --cnt-warning: var(--warning-11);
  --cnt-warning-bold: var(--warning-9);

  --cnt-danger: var(--danger-11);
  --cnt-danger-bold: var(--danger-9);

  /* Backgrounds */
  --bg-surface: oklch(1 0 0);
  --bg-panel: oklch(1 0 0);
  --bg-soft: var(--gray-3);
  --bg-inverse: var(--black-a12);

  --bg-accent-soft: var(--accent-3);
  --bg-accent-bold: var(--accent-10);

  --bg-info-soft: var(--accent-3);
  --bg-info-bold: var(--amber-9);

  --bg-success-soft: var(--green-3);
  --bg-success-bold: var(--green-9);

  --bg-warning-soft: var(--amber-3);
  --bg-warning-bold: var(--amber-9);

  --bg-danger-soft: var(--red-3);
  --bg-danger-bold: var(--red-9);

  /* Borders */
  --brd-line: var(--gray-5);
  --brd-control: var(--gray-7);
  --brd-ring: var(--gray-8);

  --brd-accent: var(--accent-8);
  --brd-info: var(--amber-8);
  --brd-success: var(--green-8);
  --brd-warning: var(--amber-8);
  --brd-danger: var(--red-8);

  /* Page Backgrounds */
  --bg-page: oklch(1 0 0);
  --bg-page-alternative: var(--gray-2);

  /* -———————————————————————————————————————————- */

  /** State Tokens **/
  /* Contents */
  --cnt-accent-hover: #7910ff;
  --cnt-accent-pressed: #7910ff;

  --cnt-info-hover: #0068d6;
  --cnt-info-pressed: #0063cc;

  --cnt-success-hover: #0c7e3a;
  --cnt-success-pressed: #0b7938;

  --cnt-warning-hover: #c23d00;
  --cnt-warning-pressed: #c23d00;

  --cnt-danger-hover: #d60017;
  --cnt-danger-pressed: #cc0016;

  /* Backgrounds */
  --bg-surface-hover: #f1f1f3;
  --bg-surface-pressed: #f1f1f3;

  --bg-panel-hover: #f1f1f3;
  --bg-panel-pressed: #f1f1f3;

  --bg-accent-soft-hover: #ebdbff;
  --bg-accent-soft-pressed: #e8d6ff;

  --bg-info-soft-hover: #e0f0ff;
  --bg-info-soft-pressed: #d6ebff;

  --bg-success-soft-hover: #e6faef;
  --bg-success-soft-pressed: #e6faef;

  --bg-warning-soft-hover: #ffede0;
  --bg-warning-soft-pressed: #ffeadb;

  --bg-danger-soft-hover: #ffe5e8;
  --bg-danger-soft-pressed: #ffdbdf;

  --bg-accent-bold-hover: var(--accent-9);
  --bg-accent-bold-pressed: #4c00ad;

  --bg-info-bold-hover: #0051f5;
  --bg-info-bold-pressed: #0047d3;

  --bg-success-bold-hover: #0a7034;
  --bg-success-bold-pressed: #09672f;

  --bg-warning-bold-hover: #e55500;
  --bg-warning-bold-pressed: #d14d00;

  --bg-danger-bold-hover: #b80014;
  --bg-danger-bold-pressed: #a30011;
}

/* Dark theme, preserve nested themes */
:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.creightit:not(.light, .light-theme)) {
  --ds-background: var(--gray-1);
  --ds-overlay: var(--black-a8);
  --ds-panel-solid: var(--gray-2);
  --ds-panel-translucent: var(--gray-a2);
  --ds-surface: rgba(0, 0, 0, 0.25);

  /** Base Tokens **/
  /* Contents */
  --cnt-primary: var(--gray-12);
  --cnt-secondary: #5d5e60;
  --cnt-tertiary: #a2a5a9;
  --cnt-on-inverse: var(--white-a12);

  --cnt-accent: var(--accent-11);
  --cnt-accent-bold: var(--accent-9);

  --cnt-info: var(--info-11);
  --cnt-info-bold: var(--info-9);

  --cnt-success: var(--success-11);
  --cnt-success-bold: var(--success-9);

  --cnt-warning: var(--warning-11);
  --cnt-warning-bold: var(--warning-9);

  --cnt-danger: var(--danger-11);
  --cnt-danger-bold: var(--danger-9);

  /* Backgrounds */
  --bg-surface: oklch(1 0 0);
  --bg-panel: oklch(1 0 0);
  --bg-soft: var(--gray-3);
  --bg-inverse: var(--black-a12);

  --bg-accent-soft: var(--accent-3);
  --bg-accent-bold: var(--accent-10);

  --bg-info-soft: var(--accent-3);
  --bg-info-bold: var(--amber-9);

  --bg-success-soft: var(--green-3);
  --bg-success-bold: var(--green-9);

  --bg-warning-soft: var(--amber-3);
  --bg-warning-bold: var(--amber-9);

  --bg-danger-soft: var(--red-3);
  --bg-danger-bold: var(--red-9);

  /* Borders */
  --brd-line: var(--gray-5);
  --brd-control: var(--gray-7);
  --brd-ring: var(--gray-8);

  --brd-accent: var(--accent-8);
  --brd-info: var(--amber-8);
  --brd-success: var(--green-8);
  --brd-warning: var(--amber-8);
  --brd-danger: var(--red-8);

  /* Page Backgrounds */
  --bg-page: oklch(1 0 0);
  --bg-page-alternative: var(--gray-2);

  /* -———————————————————————————————————————————- */

  /** State Tokens **/
  /* Contents */
  --cnt-accent-hover: #7910ff;
  --cnt-accent-pressed: #7910ff;

  --cnt-info-hover: #0068d6;
  --cnt-info-pressed: #0063cc;

  --cnt-success-hover: #0c7e3a;
  --cnt-success-pressed: #0b7938;

  --cnt-warning-hover: #c23d00;
  --cnt-warning-pressed: #c23d00;

  --cnt-danger-hover: #d60017;
  --cnt-danger-pressed: #cc0016;

  /* Backgrounds */
  --bg-surface-hover: #f1f1f3;
  --bg-surface-pressed: #f1f1f3;

  --bg-panel-hover: #f1f1f3;
  --bg-panel-pressed: #f1f1f3;

  --bg-accent-soft-hover: #ebdbff;
  --bg-accent-soft-pressed: #e8d6ff;

  --bg-info-soft-hover: #e0f0ff;
  --bg-info-soft-pressed: #d6ebff;

  --bg-success-soft-hover: #e6faef;
  --bg-success-soft-pressed: #e6faef;

  --bg-warning-soft-hover: #ffede0;
  --bg-warning-soft-pressed: #ffeadb;

  --bg-danger-soft-hover: #ffe5e8;
  --bg-danger-soft-pressed: #ffdbdf;

  --bg-accent-bold-hover: var(--accent-9);
  --bg-accent-bold-pressed: #4c00ad;

  --bg-info-bold-hover: #0051f5;
  --bg-info-bold-pressed: #0047d3;

  --bg-success-bold-hover: #0a7034;
  --bg-success-bold-pressed: #09672f;

  --bg-warning-bold-hover: #e55500;
  --bg-warning-bold-pressed: #d14d00;

  --bg-danger-bold-hover: #b80014;
  --bg-danger-bold-pressed: #a30011;
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*          Panel background           */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

.creightit {
  &:where([data-panel-background='solid']) {
    --ds-panel: var(--ds-panel-solid);
    --backdrop-filter-panel: none;
  }
  &:where([data-panel-background='translucent']) {
    --ds-panel: var(--ds-panel-translucent);
    --backdrop-filter-panel: blur(64px);
  }
}
